body {
    font-family: Arial, sans-serif;
    
}

h1 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea, input[type="submit"], button {
    padding: 10px;
    margin: 5px 0;
}

input[type="submit"], button {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.producto {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
}
